Options All -Indexes +FollowSymlinks

AddDefaultCharset utf-8
PHP_VALUE default_charset utf-8

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# Reduce server overhead by enabling output compression if supported.
#php_flag zlib.output_compression On
#php_value zlib.output_compression_level 5


DirectoryIndex home.php
ErrorDocument 401 /errors/401-unauthorized.php
ErrorDocument 403 /errors/403-forbidden.php
ErrorDocument 404 /errors/404-notfound.php
ErrorDocument 500 /errors/500-servererror.php


RewriteEngine on
RewriteBase /

# If the requested file already exists as a file or dir, bypass all RewriteRules:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Allow :SSL and :NOSSL hyperlink suffixes for easy redirection:
RewriteRule ^(.*):SSL$ https://%{SERVER_NAME}:9999/$1 [R,L]
RewriteRule ^(.*):NOSSL$ http://%{SERVER_NAME}:8888/$1 [R,L]

# Simple flat URL segment to .php file:
RewriteRule ^([\w\d\-_]+)/?$ $1.php

# Exclude certain directories from rewrite rules:
RewriteRule ^(css|js|img|inc|rateit|apis|errors|ajax) - [L]

# Special pages with query strings:
RewriteRule ^film/([a-z0-9\-]+)/?[a-z0-9\-]*/?$ /film.php?fid=$1
RewriteRule ^person/([a-z0-9\-]+)/?[a-z0-9\-]*/?$ /person.php?pid=$1
RewriteRule ^search/([\w\d\-:+,]+)/?$ /search.php?q=$1
RewriteRule ^random/(.*)/?$ /random.php?type=$1

# Transparent structural directories:
RewriteRule ^$ /pages/home.php [L]
RewriteRule ^profile/(change_email|change_password)(.*) /pages_user/$1.php [L]
RewriteRule ^(register|activate|login|logout|profile)(.*) /pages_user/$1$2 [L]
RewriteRule ^(home|film|person|random|search|popular|awards|about|contact)(.*) /pages/$1$2 [L]
